.award .award__img {
  /* height: 300px; */
  display: block;
  /* width: 100%; */
  margin: 0 auto;
  height: 200px;
}

.award .award__desc {
  font-size: small;
  font-weight: 500;
}

.award .award__desc::first-letter {
  text-transform: uppercase;
}

.award .award__video {
  width: 100%;
  min-height: 520px;
}
