.achievement .achievement__img {
  height: 80px;
  width: 80px;

  margin: 0 auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.achievement .achievement__img--closed {
  background-image: url("/ach_closed.png");
}
