.arrow-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-dots .arrow-dots__icon {
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 18px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  width: 14px !important;
  height: 14px !important;
  background-color: #666 !important;
}

.arrow-dots .arrow-dots__icon.disabled {
  color: #ccc;
}
