html,
body,
#root {
  min-height: 100%;
}

a {
  color: inherit;
}

.btn.btn-primary {
  background-color: #4267b2;
}

.text-size-secondary {
  font-size: 14px;
  font-weight: 500;
}

.BrainhubCarousel__track {
  align-items: flex-start;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  width: 10px !important;
  height: 10px !important;
  background-color: #666 !important;
}

button.BrainhubCarousel__dot {
  background: none;
}

.container {
  max-width: 640px;
}
